<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/k/s/ksasjhx0ya.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>PP Motors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>




<nav class="navbar sticky-top navbar-expand-block navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">PP Motors <img src="http://www.iconj.com/ico/k/s/ksasjhx0ya.ico"></button>
    <form class="form-inline my-2 my-lg-0" action="/buscar" method="get">
        <input name="buscar" class="form-control mr-sm-2" type="search" placeholder="Nome ou Marca" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all_cars">Carros Disponíveis</a>
            </li>

            {% if logado %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/gerente">Minha conta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alterar_carro">Alterar Carros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/relatorio">Relatório de Carros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vendidos">Vendidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                {% else %}
                    <a class="nav-link" href="/login">Login Funcionário</a>
                </li>
            {% endif %}

        </ul>

    </div>

</nav>

<div class="container py-3 px-md-5">
<h1>Alterar Cadastro de Funcionário</h1>
</div>

<div class="container py-3 px-md-5">
    <table class="table table-striped table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Exlcuir</th>

        </tr>
        {% for u in users %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{u[4]}}</td>
            {% if u[3] == 1%}
                <td><div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLinkGer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerente
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkGer">
                                <a class="dropdown-item disabled" href="#">Gerente</a>
                                <a class="dropdown-item" href="/tornar_vendedor/{{u[0]}}">Vendedor</a>
                          </div>
                    </div>
                </td>
            {% else %}
                <td><div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLinkVen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vendedor
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkVen">
                                <a class="dropdown-item" href="/tornar_gerente/{{u[0]}}">Gerente</a>
                                <a class="dropdown-item  disabled" href="#">Vendedor</a>
                          </div>
                    </div>
                </td>
            {% endif %}

            <td>
                <a href="/excluir/{{u[0]}}" class="btn btn-primary">Excluir</a>
            </td>


        </tr>
        {% endfor %}
    </table>
</div>


<div class="border border-secondary bg-light">
<nav class="navbar navbar-dark bg-ligth">
<a href="/" style="color: blue; text-decoration: none; font-weight: bolder;">Home</a><br>
    <p>&copy; Pedro Paulo Rangel Gomes de Barros</p>
</nav>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>